*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: pixel;
    src: url("./../../assets/fonts/Pixels.ttf");
}

.cart{
    background: linear-gradient(gray, green);
    width: 100%;
    margin-top: 6rem;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
}

.cartProducts{
    width: 80%;
    height: 100%;
    background: silver;
    padding: 1rem;
    color: black;
    display: flex;
    flex-wrap: wrap;
    margin: 3rem auto;
    gap: 20px;
    border-radius: 15px;
    border: 2px gray solid;
}

.cartProduct{
    width: 100%;
    height: 3.3rem;
    border: 2px solid gray;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #A9C9FF;
    background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);

}

.cartProduct .description .name{
    align-self: left;
    font-size: 0.9rem;
    color: black;
    letter-spacing: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cartProduct .description{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    padding-left: 1rem;
}

.cartProduct .img{
    width: 3rem;
    height: 100%;
    border-radius: 15px;
    border: 5px solid purple;
    margin-right: auto;
    background-color: black;
}

.cartProduct .quantity{
    display: flex;
    width: 5rem;
    border-radius: 15px;
    height: 1.5rem;
}

.numProducts{
    font-size: 1.5rem;
}

.cartProduct button{
    width: 100%;
    border-radius: 15px;
    height: 100%;
}

.cartProduct .quantity{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    color: black;
    align-items: center;
    font-size: 1rem;
}

.quantity .buttons{
    height: 100%;
    width: 9rem;
    display: flex;
    background-color: white;
    border-radius: 15px;
    margin: auto;
    justify-content: space-between;
}

.quantity .buttons button{
    width: 3rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity .trash{
    width: 3rem;
    cursor: pointer;
    margin-left: auto;
    color: red;
}

.total{
    margin-left: auto;
    margin-right: 1rem;
    font-size: 2rem;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.total span{
    text-align: center;
}

.no-products{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem;
}

@media only screen and (max-width: 600px){
    .cartProduct{
        height: 8rem;
    }

    .cartProduct .description .name{
        font-size: 1rem;
    }

    .cartProduct .img{
        width: 4rem;
    }

    .cartProduct .quantity{
        width: 100%;
        height: 2rem;
    }

    .cartProduct .description{
        font-size: 1rem;
    }

}