*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: pixel;
    src: url("./../../assets/fonts/Pixels.ttf");
}

.cart{
    background: linear-gradient(gray, green);
    width: 100%;
    margin-top: 6rem;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
}

.cartProducts{
    width: 80%;
    height: 100%;
    background: silver;
    padding: 1rem;
    color: black;
    display: flex;
    flex-wrap: wrap;
    margin: 3rem auto;
    gap: 20px;
    border-radius: 15px;
    border: 2px gray solid;
}

.cartProduct{
    width: 100%;
    height: 3.3rem;
    border: 2px solid gray;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #A9C9FF;
    background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);

}

.cartProduct .description .name{
    align-self: left;
    font-size: 0.9rem;
    color: black;
    letter-spacing: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cartProduct .description{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    padding-left: 1rem;
}

.cartProduct .img{
    width: 3rem;
    height: 100%;
    border-radius: 15px;
    border: 5px solid purple;
    margin-right: auto;
    background-color: black;
}

.cartProduct .quantity{
    display: flex;
    width: 5rem;
    border-radius: 15px;
    height: 1.5rem;
}

.numProducts{
    font-size: 1.5rem;
}

.cartProduct button{
    width: 100%;
    border-radius: 15px;
    height: 100%;
}

.cartProduct .quantity{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    color: black;
    align-items: center;
    font-size: 1rem;
}

.quantity .buttons{
    height: 100%;
    width: 9rem;
    display: flex;
    background-color: white;
    border-radius: 15px;
    margin: auto;
    justify-content: space-between;
}

.quantity .buttons button{
    width: 3rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity .trash{
    width: 3rem;
    cursor: pointer;
    margin-left: auto;
    color: red;
}

.total{
    margin-left: auto;
    margin-right: 1rem;
    font-size: 2rem;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.total span{
    text-align: center;
}

.no-products{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem;
}

#checkOut{
    width: fit-content;
    height: fit-content;
    padding: 0.5rem;
    border-radius: 15px;
    border: 2px solid black;
    background-color: red;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

#popUp{
    width: 70%;
    height: 70%;
    background-color: rgba(192, 192, 192, 0.829);
    margin: auto;
    border-radius: 15px;
}


.popWindow{
    display: flex;
    flex-direction: column;
}

.popWindow h2{
    text-align: center;
    font-size: 3rem;
    font-family: pixel;
}

.popWindow img{
    width: 30%;
    height: 80%;
    margin: auto auto 0;
}

.popWindow button{
    width: 25%;
    height: 5%;
    font-size: 1.5rem;
    margin: 0 auto;
    padding: 0.2%;
    border-radius: 15px;
}

@media only screen and (max-width: 600px){
    .cartProduct{
        height: 3.5rem;
        min-width: fit-content;
    }

    .cartProduct .description .name{
        font-size: 0.85rem;
        font-weight: bold;
    }

    .description .trash{
        width: 1.5rem;
    }

    .cartProduct .img{
        width: 2.5rem;
    }

    .cartProduct .quantity{
        width: 100%;
        height: 1.7rem;
    }

    .cartProduct .description{
        font-size: 1rem;
    }

    .popWindow button{
        min-width: fit-content;
    }

    .popWindow img{
        width: 65%;
    }

}